
  .pulse {
      animation: pulsate 3s ease-out;
      -webkit-animation: pulsate 3s ease-out;
      -webkit-animation-iteration-count: infinite; 
      opacity: 0.0
  }
  
  
  @keyframes pulsate {
      0% {transform: opacity: 0.0;}
      50% {opacity: 1.0;}
      100% {transform: opacity: 0.0;}
  }

